body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #313334;
    height: 100vh;
}

.calculator {
    background-color: #868f97;
    border: 3px solid #4d596363;
    border-radius: 15px;
    box-shadow: 0 20px 20px #121213;
    width: 30%;
}

.title {
    text-align:right;
    color: white;
    margin-right: 20px;
    font-size: 20px;
    padding: 5px;
}

#screen {
    background-color: #292f34;
    border: 5px solid #4d5963;
    box-shadow: 0 3px 3px #121213;
    border-radius: 15px;
    height: 125px;
    width: 95%;
    margin: 0 auto;
}

#screenText {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 95%;
    flex-wrap: wrap;
    color: white;
    font-size: 24px;
    float: right;
    margin-right: 5px;
}

#firstArgument, #secondArgument {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    color: white;
    font-size: 24px;
    margin-right: 5px;
}

.pad {
    width: 100%;
    margin: 15px auto;
}

#numberPad {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    width: 60%;

}

#operatorPad {
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: center;
    margin: 0 auto;
    width: 35%;
}

.button {
    background-color: #313334;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: .5em;
    margin: 5px auto;
    border: 2px solid #292f34;
    border-radius: 10px;
    box-shadow: 0 3px 3px #121213;
}
/* Number locations */
[id$="7"] {
    grid-column-start: 1;
    grid-row-start: 1;
}
[id$="8"] {
    grid-column-start: 2;
    grid-row-start: 1;
}
[id$="9"] {
    grid-column-start: 3;
    grid-row-start: 1;
}
[id$="4"] {
    grid-column-start: 1;
    grid-row-start: 2;
}
[id$="5"] {
    grid-column-start: 2;
    grid-row-start: 2;
}
[id$="6"] {
    grid-column-start: 3;
    grid-row-start: 2;
}
[id$="1"] {
    grid-column-start: 1;
    grid-row-start: 3;
}
[id$="2"] {
    grid-column-start: 2;
    grid-row-start: 3;
}
[id$="3"] {
    grid-column-start: 3;
    grid-row-start: 3;
}
[id$="0"] {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column: span 3;
}
[id$="0"] {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column: span 2;
}
[id$="."] {
    grid-column-start: 3;
    grid-row-start: 4;
    grid-column: span 1;
    
}


.button:hover {
    transition-delay: .05s;
    scale: .97;
    box-shadow: inset 0 3px 3px #4d5963;
}

#numberPad .button {
    width: 50%;
    height: 40px;
}

#operatorPad .button {
    width: 50%;
    height: 40px;
}

/* Operator Locations */
[id$="c"] {
    grid-column-start: 1;
    grid-row-start: 1;
}
[id$="="] {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column: span 2;
}
[id$="+"] {
    grid-column-start: 1;
    grid-row-start: 2;
}
[id$="*"] {
    grid-column-start: 2;
    grid-row-start: 2;
}
